@model JobTrack.ViewModels.JobCreateViewModel


@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Job</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Job.CompanyId" class="control-label">Company Name</label>
                <select asp-for="Job.CompanyId" class="form-control" asp-items="@Model.Company"></select>
            </div>
            @*<div class="form-group">
                <label asp-for="Job.Name" class="control-label"></label>
                <input asp-for="Job.Name" class="form-control" />
                <span asp-validation-for="Job.Name" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Job.Position" class="control-label">Position</label>
                <input asp-for="Job.Position" class="form-control" />
                <span asp-validation-for="Job.Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.DateApplied" class="control-label">Date Applied</label>
                <input asp-for="Job.DateApplied" class="form-control" />
                <span asp-validation-for="Job.DateApplied" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.StatusId" class="control-label">Current Status</label>
                <select asp-for="Job.StatusId" class="form-control" asp-items="@Model.Status"></select>
            </div>
           
            @*<div class="form-group">
            <label asp-for="Job.ApplicationUserId" class="control-label"></label>
            <select asp-for="Job.ApplicationUserId" class ="form-control" asp-items="ViewBag.ApplicationUserId"></select>
        </div>*@

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
