@model JobTrack.ViewModels.JobEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>   

<h4>Job</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Job.JobId" />
           
            <div class="form-group">
                <label asp-for="Job.Position" class="control-label"></label>
                <input asp-for="Job.Position" class="form-control" />
                <span asp-validation-for="Job.Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.DateApplied" class="control-label"></label>
                <input asp-for="Job.DateApplied" class="form-control" />
                <span asp-validation-for="Job.DateApplied" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.StatusId" class="control-label"></label>
                <select asp-for="Job.StatusId" class="form-control" asp-items="@Model.Status"></select>
                <span asp-validation-for="Job.StatusId" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Job.ApplicationUserId" class="control-label"></label>
                <select asp-for="Job.ApplicationUserId" class="form-control" asp-items="@Model.ApplicationUser"></select>
                <span asp-validation-for="Job.ApplicationUserId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Job.CompanyId" class="control-label"></label>
                <select asp-for="Job.CompanyId" class="form-control" asp-items="@Model.Company"></select>
                <span asp-validation-for="Job.CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
